header {
    background-image: url("./images/header1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


nav {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

nav>img {
    margin-top: 40px;
}

.menu-container {
    margin: 0px;
    float: right;
    margin-top: 40px;
}

.menu-container>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.menu-container>li>a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}

/* .contain { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    padding: 100px;
    text-align: center; 
}  */

.students-container {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.student {
    width: 23%;
    float: left;
}

.student>h3 {
    color: whitesmoke;
    margin-left: 50px;
}

.student>p {
    color: ghostwhite;
    margin-left: 50px;
}

.student>img {
    display: block;
    margin: 0 auto;
}

.titull {
    text-align: center;
}


.schooled {
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    margin-top: 130px;
    font-family: sans-serif;
}

.categories {
    width: 20%;
    margin: 50px auto;
    margin-bottom: 10px;
}

.categories>li {
    list-style-type: none;
    display: inline-block;
    width: 80px;
    color: white;
    font-weight: bold;

}

.register {
    display: block;
    margin: 120px auto;
    background-color: #c271ff;
    padding: 15px;
    border-radius: 40px;
    border: 0px;
    font-weight: bold;
    color: #ffffff;
}

.learn {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}

.purple {
    color: #c271ff;
}


.section {
    overflow: hidden;
    width: 100%;
    background-color: #c271ff;
    height: 280px;
}

.photo {
    float: left;
    width: 34%;
    margin-right: 30px;
    margin-top: 50px;
}

.photo>img {
    display: block;
    float: right;
}

.paragraph {
    width: 42%;
    margin-top: 50px;
    float: left;
    color: white;
}

.line {
    text-align: center;
}



/* Most popular tutorials */
.tutorials>h4 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.tutorials {
    width: 93%;
    margin: 0 auto;
    overflow: hidden;
}

.tutorial {
    float: left;
    width: 19%;
    margin: 30px;
}

.image-container {
    position: relative;
}

.play-icon {
    position: absolute;
    top: 25%;
    left: 37%;
}

.philip>img {
    width: 30px;
    height: 30px;
}

.span1 {
    color: #c271ff;
    margin-left: 10px;
}

.star {
    overflow: hidden;
    margin: 10px auto;
}

.star>ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    float: left;
}

.star>span {
    float: right;
}

.star>ul>li {
    display: inline-block;
}

.div1>img {
    position: relative;
}


/* FAQ SECTION */

.titull {
    margin-top: 60px;
}

.container {
    overflow: hidden;
    margin: 0 auto;
    width: 70%;
}

.box-container1 {
    float: left;
    width: 40%;
}

.box-container2 {
    float: right;
    width: 40%;
}

.box1 {
    margin-top: 60px;
    margin-bottom: 90px;
}

.box2 {
    margin-top: 60px;
    margin-bottom: 90px;
}
 
.box1>p {
    color: gray;
}

.box2>p {
    color: gray;
}

/* Free membership SEKSIONI 4 */

.parent {
    width: 80%;
    margin: 50px auto;
    overflow: hidden;
}

.section2 {
    overflow: hidden;
    width: 100%;
    background-color: #071629;
    height: 370px;
}

.section2>p {
    font-size: 25px;
    color: #ffffff;
}

.div2 {
    float: left;
    width: 25%;
}


.div2>img {
    display: block;
    margin: 0 auto;
}

.div2>h3,
.div2>p {
    text-align: center;
    color: #ffffff;
}


.register1 {
    display: block;
    margin: 50px auto;
    background-color: #c271ff;
    padding: 15px;
    border-radius: 40px;
    border: 0px;
    font-weight: bold;
    color: #ffffff;
}


footer {
    overflow: hidden;
    background-color: #071629;
    height: 170px;
}


footer>ul {
    margin-top: 80px;
    margin-right: 100px;
    list-style-type: none;
}

footer>ul>li {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
}

footer>img {
    margin-left: 100px;
    margin-top: 80px;

}

footer>ul {
    float: right;
}